<div class="recent-transactions" [formGroup]="searchFrom">
  <div class="top">
    <img src="assets/images/icons/briefcase.png" alt="">
    <span>{{'transfer.recent_transactions_text' | translate}}</span>
  </div>
  <div class="form-sort">
    <div class="wrap-input">
      <input maxlength="30" formControlName="searchControl" class="input-search" type="text"
        placeholder="{{ 'transfer.sort_placeholder'| translate}}">
      <div (click)="handleClearSearch()" class="btn-clear" *ngIf="searchFrom.value.searchControl">X</div>
    </div>
    <div class="sort-by">
      <span>{{ 'transfer.sort_by_text'| translate}}</span>
      <div class="condition-sort">
        <button (click)="dateSort()" [class.sort-asc--icon]="sortState === sortStateConst?.DATE_ASC"
          [class.sort-desc--icon]="sortState === sortStateConst?.DATE_DESC">{{'transfer.date' | translate | uppercase}}</button>
        <button (click)="beneficarySort()" [class.sort-asc--icon]="sortState === sortStateConst?.BENEFICARY_ASC"
          [class.sort-desc--icon]="sortState === sortStateConst?.BENEFICARY_DESC">{{'transfer.beneficary' | translate | uppercase}}</button>
        <button (click)="amountSort()" [class.sort-asc--icon]="sortState === sortStateConst?.AMOUNT_ASC"
          [class.sort-desc--icon]="sortState === sortStateConst?.AMOUNT_DESC">{{'transfer.amount' | translate | uppercase}}</button>
      </div>
    </div>
  </div>
  <ul class="transactions-item">
    <li (click)="detailItem(item)" [style.border-left-color]="item?.categoryCode"
      *ngFor="let item of recentTransactions" class="item">
      <span class="date">{{item?.dates?.valueDate | date:'MMM. d'}}</span>
      <img width="35px" [src]="item?.imgPath" alt="">
      <div>
        <span class="merchant-name">{{item?.merchant?.name}}</span>
        <span class="transaction-type">{{item?.transaction?.type}}</span>
      </div>
      <span class="amount">-${{item?.transaction?.amountCurrency?.amount}}</span>
    </li>
    <ng-container #dynamicRecentTransaction></ng-container>
  </ul>
</div>

<app-modal [show]="isShowDetail" [headerText]="'transfer.transaction_detail'">
  <div modal-body class="body-confirm-validate transaction-detail">
    <ul class="content">
      <li class="amount">
        <b>{{'transfer.amount' | translate}}</b>
        <div>-{{+itemDetail?.transaction?.amountCurrency?.amount | currency}}
          {{itemDetail?.transaction?.amountCurrency?.currencyCode}}
        </div>
      </li>
      <li>
        <b>Form account</b>
        <div>PhongPD3</div>
      </li>
      <li>
        <b>To</b>
        <div>{{itemDetail?.merchant?.name}}</div>
        <div>{{itemDetail?.merchant?.accountNumber}}</div>
      </li>
      <li>
        <b>Transaction date</b>
        <div>{{itemDetail?.dates?.valueDate | date:'mediumDate'}}</div>
      </li>
      <li>
        <b>Transaction type</b>
        <div>{{itemDetail?.transaction?.type}}</div>
      </li>
    </ul>

  </div>
  <div modal-btn class="form-transfer-wrap-btn">
    <button (click)="isShowDetail = false" class="btn-primary">{{'common.close' | translate}}</button>
  </div>
</app-modal>