@import "../../shared/transfer.scss";
.recent-transactions {
  max-width: 700px;
  background-color: #fff;
  .top {
    width: calc(100% - 32px);
    height: 50px;
    background-color: $green-1;
    padding: 0 1rem;
    position: relative;
    display: flex;
    color: #fff;
    img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 30px;
    }
    span {
      width: 100%;
      text-align: center;
      margin: auto;
    }
  }
  .form-sort {
    display: flex;
    padding: 16px;
    .wrap-input {
      position: relative;
      flex: 2;
      min-width: 200px;
      input {
        padding-right: 2rem;
        width: calc(100% - 2rem);
        max-width: calc(100% - 2rem);
      }
      .btn-clear {
        position: absolute;
        right: -6px;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid gray;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        text-align: center;
        cursor: pointer;
      }
    }
    .sort-by {
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 400px;
      & > span {
        margin-right: 20px;
      }
      .condition-sort {
        height: 100%;
        display: flex;
        border: 1px solid gray;
        overflow: hidden;
        border-radius: 3px;
        .sort-asc--icon::after,
        .sort-desc--icon::after {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
        }
        .sort-desc--icon:hover::after {
          border-top: 5px solid #fff;
        }
        .sort-asc--icon:hover::after {
          border-bottom: 5px solid #fff;
        }
        .sort-asc--icon::after {
          border-bottom: 5px solid gray;
        }
        .sort-desc--icon::after {
          border-top: 5px solid gray;
        }
        & > button {
          border: none;
          border-right: 1px solid gray;
          padding-left: 1.3rem;
          padding-right: 1.3rem;
          height: 100%;
          background-color: #fff;
          cursor: pointer;
          position: relative;
        }
        & > button:last-child {
          border-right: none;
        }
        & > button:hover {
          background-color: gray;
          color: #fff;
        }
      }
    }
  }

  .transactions-item {
    padding: 1rem;
    position: relative;
    max-height: 600px;
    overflow-y: scroll;
    .item {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0.5rem;
      border: 1px solid gray;
      border-left: 5px solid;
      border-bottom: unset;
      .date {

      }
      &>img {
        margin: 0 2rem;
      }
      &>div {
        display: flex;
        flex-direction: column;
      }
      .amount {
        position: absolute;
        right: 2rem;
      }
    }
    .item:last-child {
      border-bottom: 1px solid gray;
    }
    .item:hover {
      background-color: gray;
      color: #fff;
      cursor: pointer;
    }
  }
}

.transaction-detail {
  width: 100%;
}
