@import '../../../../assets/scss/variables.scss';

.make-transfer {
  background-color: $green-1;
  width: calc(100% - 32px);
  height: 40px;
  padding: 0 1rem;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30px;
    cursor: pointer;
  }
  span {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

.confirm-transfer, .transaction-success, .transaction-detail {
  width: 300px;
  .content {
    background-color: #fff;
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .amount {
      text-align: center;
      div {
        margin-top: 0.5rem;
        font-size: 24px;
      }
    }
    > li {
      width: 100%;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      border-bottom: 1px solid;
    } 
    > li:last-child {
      border-bottom: none;
    }
    button {
      margin-top: 2rem;
    }
  }
}

.form-transfer-wrap-btn {
  button {
    margin: 0 1rem;
  }
  display: flex;
  justify-content: center;
}