@import '../../../../assets/scss/variables.scss';

.app-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;

  > .modal-content-wrapper {
    max-height: 100vh;
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;

    > .modal-header {
      padding: 1rem;
      position: relative;
      text-align: center;
      text-transform: capitalize;
      border-bottom: 1px solid red;
      font-size: 20px;
      font-weight: 700;
    }

    > .modal-body {
      padding: 1rem;
      overflow-y: auto;
    }
    >.modal-btn {
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 575px) {
  .modal {
    padding: 0.5rem;
  }

  .modal > .modal-content-wrapper > .modal-body {
    padding: 0.5rem;
  }
}
