.app-peachtree {
  background-image: url('../assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  .main {
    height: calc(100vh - 70px);
    overflow-y: scroll;
  }
}