@import '../../shared/transfer.scss';
.form-transfer {
  width: 300px;
  .input-form {
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .form-account, .to-account, .amount {
      margin-top: 1.5rem;
      width: 100%;
      position: relative;
      h5 {
        margin: 0;
        position: absolute;
        color: red;
      }
    }
    .submit-transfer {
      margin-top: 3rem;
    }
  }
}

.body-confirm-reset, .body-confirm-validate {
  h4 {
    margin: 0;
    text-align: center;
  }
}
