<ng-container [ngSwitch]="transferService.transferState$ | async">
  <ng-container *ngSwitchCase="transferState.INPUT">
    <form class="form-transfer" (submit)="handleTransfer()" [formGroup]="transferForm">
      <div class="make-transfer">
        <img (click)="handleClickImgReset()" src="assets/images/icons/arrows.png" alt="">
        <h4>{{'transfer.make_transfer' | translate}}</h4>
      </div>
      <div class="input-form">
        <div class="form-account">
          <span>{{'transfer.from_account_text' | translate | uppercase}}</span>
          <input formControlName="fromAccount" type="text">
        </div>
        <div class="to-account">
          <span>{{'transfer.to_account_text' | translate | uppercase}}</span>
          <input formControlName="toAccount" placeholder="Georgia Power Electric Company" type="text">
          <h5 *ngIf="errMsg?.errToAccount">{{errMsg?.errToAccount | translate}}</h5>
        </div>
        <div class="amount">
          <span>{{'transfer.amount' | translate | uppercase}}</span>
          <input formControlName="amount" placeholder="$ 0.00" type="text">
          <h5 *ngIf="errMsg?.errAmount">{{errMsg?.errAmount | translate}}</h5>
        </div>
        <button class="submit-transfer btn-primary" type="submit">{{'common.submit' | translate | uppercase}}</button>
      </div>
    </form>
  </ng-container>
  <ng-container *ngSwitchCase="transferState.CONFIRM">
    <form class="confirm-transfer">
      <div class="make-transfer">
        <img (click)="backToInput()" src="assets/images/icons/back.png" alt="">
        <h4>{{'transfer.confirm_transaction' | translate}}</h4>
      </div>
      <ul class="content">
        <li class="amount">
          <b>{{'transfer.amount' | translate | uppercase}}</b>
          <div>{{transferForm?.value?.amount | currency}}</div>
        </li>
        <li class="form-account">
          <b>{{'transfer.from_account_text' | translate}}</b>
          <div>PhongPD3</div>
        </li>
        <li class="to-account">
          <b>{{'transfer.to_account_text' | translate}}</b>
          <div>{{transferForm?.value?.toAccount}}</div>
        </li>
        <li class="description">
          <b>{{'transfer.description_title' | translate}}</b>
          <div>{{'transfer.description_content' | translate}}</div>
        </li>
        <li class="transaction-fee">
          <b>{{'transfer.transaction_fee' | translate}}</b>
          <div>$ 0</div>
        </li>
        <button (click)="confirmTransaction()" class="btn-primary">{{'common.confirm' | translate | uppercase}}</button>
      </ul>
    </form>
  </ng-container>
  <ng-container *ngSwitchCase="transferState.SUCCESSFULLY">
    <form class="transaction-success">
      <div class="make-transfer">
        <h4>{{'transfer.successed_title' | translate}}</h4>
      </div>
      <ul class="content">
        <li class="amount">
          <b>{{'transfer.successfully' | translate}}</b>
          <div>{{transferForm?.value?.amount | currency}}</div>
        </li>
        <li class="form-account">
          <b>{{'transfer.from_account_text' | translate}}</b>
          <div>PhongPD3</div>
        </li>
        <li class="to-account">
          <b>{{'transfer.to_account_text' | translate}}</b>
          <div>{{transferForm?.value?.toAccount}}</div>
        </li>
        <li class="description">
          <b>{{'transfer.description_title' | translate}}</b>
          <div>{{'transfer.description_content' | translate}}</div>
        </li>
        <li class="transaction-fee">
          <b>{{'transfer.transaction_fee' | translate}}</b>
          <div>$ 0</div>
        </li>
        <button (click)="finishTransaction()" class="btn-primary">{{'transfer.home' | translate | uppercase}}</button>
      </ul>
    </form>
  </ng-container>
  <ng-container *ngSwitchCase="transferState.FAILED"></ng-container>
</ng-container>

<app-modal [show]="isShowCfReset" [headerText]="'common.notification'">
  <div modal-body class="body-confirm-reset">
    <h4>Do you want to reset form?</h4>
  </div>
  <div modal-btn class="form-transfer-wrap-btn">
    <button (click)="isShowCfReset = false" class="btn-secondary">Cancel</button>
    <button (click)="handleReset()" class="btn-primary">Reset</button>
  </div>
</app-modal>

<app-modal [show]="isShowCfValidate" [headerText]="'common.notification'">
  <div modal-body class="body-confirm-validate">
    <h4>{{'transfer.balance_is_not_sufficient' | translate}}</h4>
  </div>
  <div modal-btn class="form-transfer-wrap-btn">
    <button (click)="isShowCfValidate = false" class="btn-primary">{{'common.close' | translate}}</button>
  </div>
</app-modal>

