/* You can add global styles to this file, and also import other style files */
@import './assets/scss/variables.scss';
body,
html {
  height: 100%;
  margin: 0;
}

input {
}
input[type="text"] {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  border-bottom: 1px solid gray;
  height: 35px;
}
input:active {
}
input:focus {
}

input.ng-invalid {

}

.btn-primary, .btn-secondary {
  border-radius: 5px;
  text-transform: capitalize;
  color:#fff;
  width: 180px;
  height: 36px;
  &:active {
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active:focus{
    outline: none;
    box-shadow: none;
  }

  &:disabled, [disabled] {
    pointer-events: none !important;
    opacity: 0.5;
  }
}

.btn-primary {
  background-color: $orange;
  border: 1px solid $orange;
  &:hover {
    background-color: #fff;
    cursor: pointer;
    color: $orange;
  }
}

.btn-secondary {
  background-color: gray;
  border: 1px solid gray;
  &:hover {
    background-color: #fff;
    cursor: pointer;
    color: gray;
  }
}